<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="Messages">
      <% for(let count = 0; count < message.length; count++ ){ %>
        <div class = usermessage<%=count %>>
          <div><%= message[count].text %></div>
          <div><%= message[count].user %></div>
          <div><%= message[count].added %></div>

        </div>
       <% } %>


    </div>
    <a href="/new" class="btn">ADD MESSAGES</a>

    
  </body>
</html>
